html,
body,
.container {
    height: 100%;
}

body {
    background-color: #000;
}

.flex {
    display: flex;
    &.centered {
        justify-content: center;
        align-items: center;
    }
}

.image-holder {
    align-self: center;
}